{% extends 'base.html' %}

{% block content %}
{{response.meta}}
<div class="container">
<h1>Best hotels in {{ trip.country.name }},{{ trip.name }}</h1>
<br>
<div class="row">
  <div class="col">
<p class="fw-semibold">{{trip.info}}</p>
</div>
<div class="col ms-6">
<iframe width="500" height="300" id="gmap_canvas" src="https://maps.google.com/maps?q={{ trip.name }}&t=k&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
</div>
</div>
<br>
<div class="row">
{% for hotel in response.data %}
    <div class="col-sm-4 my-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ hotel.name }}</h5>
            <p class="card-text">Loction: {{ trip.country.name }} {{ trip.name }}</p>
            <a href="https://www.tripadvisor.com/Search?q={{ hotel.name|lower }}" class="btn btn-primary">Check the hotel</a>
          </div>
        </div>
    </div>
{% endfor %}
</div>
</div>
{% endblock content %}
