{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="bgimg">


    <div class="topleft">

    </div>
    <div class="middle">
      <h1 class="display-1 fw-bold">WHERE'S NEXT</h1>
      <hr>
      <center>
      <p><b> The idea - </b><br> save a lot of time for travelers to find there's next trip <br> with algorithm that can give recommendation</p>
    </center>
      <p>Set update you'r <a href="{% url 'update_preference' %}" class="btn btn-primary">Preference</a> and get started</p>

      {% comment %} <div class='row gx-5'>
        <div class="col-2 ms-5">
            <div><h3 class='fw-bold'>days   <span class="badge bg-secondary" id='demo1'>New</span></h3></div>
        </div>
        <div class="col-2 ms-5">
            <div><h3 class='fw-bold'>hours <span class="badge bg-secondary" id='demo2'>New</span></h3></div>
        </div>
        <div class="col-2 ms-5">
            <div><h3 class='fw-bold'>minutes <span class="badge bg-secondary" id='demo3'>New</span></h3></div>
        </div>
        <div class="col-2 ms-5">
            <div><h3 class='fw-bold'>seconds <span class="badge bg-secondary" id='demo4'>New</span></h3></div>
        </div>
       </div> {% endcomment %}
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class='middle2'>
      <div class="static">
        <img id="my-img" src="{% static "wherenext/images/morty.png" %}" onmouseover="hover(this);" onmouseout="unhover(this);" />
      </div>
        {% comment %} <img id="myImg" src="{% static "wherenext/images/morty.png" %}" alt="no"> {% endcomment %}
        

        <div class="card text-center text-bg-dark">
            <div class="card-header">
              New here  ?
            </div>
            <div class="card-body">
              <h5 class="card-title"></h5>
              <p class="card-text">You can create an account right now and get try every thing <br> the site as to offer</p>
              <a href="{% url 'sign_up' %}" class="btn btn-primary">Sing up</a>
            </div>
            <div class="card-footer text-muted">
                where's next ™
            </div>
          </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
<hr>
</div>

<script>
  function hover(element) {
    element.setAttribute('src', "{% static 'wherenext/images/morty.gif' %}");
  }
  
  function unhover(element) {
    element.setAttribute('src', "{% static 'wherenext/images/morty.png' %}");
  }

    // Set the date we're counting down to
var countDownDate = new Date("Jan 5, 2023 15:37:25").getTime();

// Update the count down every 1 second
var x = setInterval(function() {

  // Get todays date and time
  var now = new Date().getTime();

  // Find the distance between now an the count down date
  var distance = countDownDate - now;

  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  // Display the result in an element with id="demo"
  {% comment %} document.getElementById("demo").innerHTML = days + "d " + hours + "h "
  + minutes + "m " + seconds + "s "; {% endcomment %}
  document.getElementById("demo1").innerHTML = days;
  document.getElementById("demo2").innerHTML = hours;
  document.getElementById("demo3").innerHTML = minutes;
  document.getElementById("demo4").innerHTML = seconds;

  // If the count down is finished, write some text
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("demo").innerHTML = "EXPIRED";
    
  }
}, 1000);
</script>
{% endblock content %}