{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="bgimg">


    <div class="topleft">

    </div>
    <div class="middle">
      <h1 class="display-1 fw-bold">WHERE'S  NEXT</h1>
      <hr>
      <center>
      <p><b> The idea - </b><br> save a lot of time for travelers to find there's next trip <br> with algorithm that can give recommendation</p>
    </center>
      <p><b> So update you'r <a href="{% url 'update_preference' %}" class="btn btn-primary">Preference</a> and get started </p></b>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class='middle2'>
      <div class="static">
        <img id="my-img" src="{% static "wherenext/images/morty.png" %}" onmouseover="hover(this);" onmouseout="unhover(this);" />
      </div>
        {% comment %} <img id="myImg" src="{% static "wherenext/images/morty.png" %}" alt="no"> {% endcomment %}
        

        <div class="card text-center text-bg-dark">
            <div class="card-header">
              New here  ?
            </div>
            <div class="card-body">
              <h5 class="card-title"></h5>
              <p class="card-text">You can create an account right now and get try every thing <br> the site as to offer</p>
              <a href="{% url 'sign_up' %}" class="btn btn-primary">Sing up</a>
            </div>
            <div class="card-footer text-muted">
                where's next ™
            </div>
          </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
<hr>
</div>

<script>
  function hover(element) {
    element.setAttribute('src', "{% static 'wherenext/images/morty.gif' %}");
  }
  
  function unhover(element) {
    element.setAttribute('src', "{% static 'wherenext/images/morty.png' %}");
  }

</script>
{% endblock content %}