{% extends 'base.html' %}
{% load static %}
{% block content %}


{% if new %}
<center>
<h1>You need to update your preference to get reccomendation</h1>
<br>
<br>
<a href="{% url "update_preference" %}">
<button class="btn btn-primary btn-lg">Go to preference</button>
</a>
</center>

{% else %}

<center><h1>Hello {{ user }}</h1>
<h3>This is your preference :{{ traveler.point_of_interest }}</h3>
    <p>you can change it in change preference</p>
    <br>
    <br>
    <form action="" method="post">
        {% csrf_token %}
        
        
        <button type="submit" value="Next" name="Next" class="btn btn-primary btn-lg">Find your next trip</button>
         </form>

    </center>
<br>
<br>
<center>
<img src="{% static "main/images/earth.gif" %}" alt="this slowpoke moves"  width="250" />
</center>
{% endif %}

{% if recommend %}
<h3 class="m-3">best trips for you</h3>
<p class="fw-semibold m-3"> Look down to see how it work</p>
<div class="card-group m-3">
    
{% for city in recommend %}

<div class="card">
    {% if forloop.first %}
    <img class="card-img-top" src="{% static 'main/images/3.jpg' %}" alt="Card image cap">
    {% elif forloop.last %}
    <img class="card-img-top" src="{% static 'main/images/1.jpg' %}" alt="Card image cap">
    {% else %}
    <img class="card-img-top" src="{% static 'main/images/2.jpg' %}" alt="Card image cap">
    {% endif %}
    <div class="card-body">
      <h5 class="card-title">{{ city.name }}</h5>
      <p class="card-text">{{ city.info }}</p>
      <a href="{% url 'hotels' c_code=city.city_code%}" class="btn btn-primary">More info</a>
    </div>
</div>


<br>
{% endfor %}
</div>
<br>
<br>
<br>
<div class="row">
    <div class="col">
        <center>
        <div class="card border-dark mt-4" style="max-width: 18rem;">
            <div class="card-header">Quick note</div>
            <div class="card-body text-dark">
              <h5 class="card-title">Why you got this reccomendation: </h5>
              <p class="fw-semibold">where next uses an algorithm that makes a comparison between the user preferences and all the existing trips based on all kinds of variables, so all is left to do is enjoy the trip</p>
            </div>
          </div>
    </div>
</center>
    <div class="img-fluid col m-3">
        <div class="plot">
        <img src="data:image/png;base64,{{ graphic|safe }}">
        </div>
    </div>
</div>
<br>
<br>
<br>
{% endif %}


{% endblock content %}
